<entry xmlns="http://www.w3.org/2005/Atom" xmlns:georss='http://www.georss.org/georss' xmlns:gml='http://www.opengis.net/gml'>
  <title testing='truetest'><%= h title %></title>
  <% if summary %>
  <summary><%= h summary %></summary>
  <% end %>
  <category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/photos/2007#photo"/>
<% if location %>
<georss:where>
  <gml:Point>
    <gml:pos><%= location %></gml:pos>
  </gml:Point>
</georss:where>
<% end %>
</entry>